---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "News" }}</h3>

{% capture my_include %}{% include_relative _pages/news.md %}{% endcapture %}
{{ my_include | markdownify }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].timeline | default: "Timeline" }}</h3>

{% capture my_include %}{% include_relative _pages/timeline.md %}{% endcapture %}
{{ my_include | markdownify }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].research_topics | default: "Research Topics" }}</h3>

{% capture my_include %}{% include_relative _pages/rtopics.md %}{% endcapture %}
{{ my_include | markdownify }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Blog" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
