---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Blog" }}</h3>

<div>
{% capture p1 %}
  {% include {{site.baseurl}}/news/ %}
{% endcapture %}
{{ p1 | markdownify }}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].timeline | default: "T" }}</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].research_topics | default: "Research Topics" }}</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Blog" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
